<!DOCTYPE html>
<html lang='cs'>
  <head>
    <title>RKVAC | Home</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">
    <meta name='description' content='Authentication app'>
    <meta name='keywords' content='rkvac, smart-card authentication'>
    <meta name='author' content='Bronislav Strava'>
    <meta name='robots' content='all'>
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <link href='img/favicon.png' rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="./css/css.css" type="text/css">
  

    
  </head>
  
  <body>
      
      <header> <!-- Hlavička -->
      <div class="container">
        <div id="branding">
           <h1><span class="highlight">RKVAC</span> Authentication</h1>
        </div>
        <nav>
          <ul>
            <li class="current" ><a href="index">Home</a></li>
            <li class="dropdown"><a href="#" class="dropbtn">Issuer</a>
              <div class="dropdown-content">
                <a href="personalization">Personalization</a>
                <a href="issue-attributes">Issue Attributes</a>
              </div>
            </li>
            <li><a href="RA">RA</a></li>
            <li><a href="Verifier">Verifier</a></li>

          </ul>
        </nav>
      </div>
    </header>
    
        
    <section id="showcase">
      <div class="container">
        <h1>Authentication system</h1>
        <p>Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. </p>
      </div>
    </section>
    
    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="./img/insert_card.jpg">
          <h3>Card</h3>
          <p>Insert your card into the reader.</p>
        </div>
        
        <div class="box">
          <img src="img/data.jpg">
          <h3>Data</h3>
          <p>Fill in your data.</p>
        </div>
        
        <div class="box">
          <img src="./img/access.jpg">
          <h3>Access</h3>
          <p>Gain access to the system.</p>
        </div>
        
      </div>
    </section>
    
    <footer>
      <p>&copy;RKVAC VUT 2020</p>
     
    </footer>
    
  </body>
</html>