<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/attributes.css}" type="text/css">
    <title>RKVAC | Verifier</title>
    <meta name="viewport" content="width=device-width">
    <meta name='description' content='Authentication app'>
    <meta name='keywords' content='rkvac, smart-card authentication'>
    <meta name='author' content='Bronislav Strava'>
    <meta name='robots' content='all'>
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <link href='img/favicon.png' rel='shortcut icon' type='image/png'>

</head>
<body>

<header> <!-- Hlavička -->
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">RKVAC</span> Authentication</h1>
        </div>
        <nav>
            <ul>
                <li  ><a href="index">Home</a></li>
                <li class="dropdown" ><a href="#" class="dropbtn">Issuer</a>
                    <div class="dropdown-content">
                        <a href="personalization">Personalization</a>
                        <a href="issue-attributes">Issue Attributes</a>
                    </div>
                </li>
                <li><a href="RA">RA</a></li>
                <li class="current"><a href="Verifier">Verifier</a></li>

            </ul>
        </nav>
    </div>
</header>


<div class="container">

    <section id="plan">
        <h2 >Verify Attributes</h2>
        <div class="container">

            <a href="verify-ecard">
                <div class="box">
                    <img src="./img/insert_card.jpg">
                    <h3>Employee card</h3>
                    <p>Employee status: student </p>
                </div>
            </a>

            <a href="verify-ticket">
                <div class="box">
                    <img src="img/ticket.jpg">
                    <h3>Ticket</h3>
                    <p>Type of ticket: ticket </p>
                </div>
            </a>

            <a href="verify-eid">
                <div class="box">
                    <img src="./img/eid.jpg">
                    <h3>EID</h3>
                    <p>Nationality: CZ </p>

                </div>
            </a>

        </div>
    </section>
    <article id="hlavní">


        <div class="dark-white">
            <h3 >Access log:</h3>
            <tbody>
            <tr th:each="line : ${list}">
                <td ><p2  th:utext="${line}"></p2></td>
            </tr>
            </tbody>
        </div>

    </article>

</div>


<footer>
    <p>&copy;RKVAC VUT 2020</p>

</footer>
</body>
</html>